body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(40, 51, 153);
}
* {
  margin: 0;
  padding: 0;
}

.main {
  width: 99%;
  height: 99%;
  display: grid;

  background-color: rgb(40, 51, 153);
}
.play {
  width: 100px;
  height: 25px;
  font-size: larger;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(62, 18, 104);
  color: aqua;
}
.reset {
  width: 70px;
  height: 25px;
  font-size: larger;
  position: absolute;
  top: 10px;
  right: 125px;
  background-color: rgb(62, 18, 104);
  color: aqua;
}
.cell {
  border: 1px solid rgba(0, 0, 0, 0.219);
  /* width: 40px;
  height: 40px; */
}
